# Ignorar node_modules
node_modules/

# Ignorar arquivos de ambiente
.env
.env.local
.env.*.local

# Ignorar build artifacts
dist/
dist-ssr/
*.local

# Ignorar cache de módulos Go (não faz parte do app)
pkg/

# Ignorar arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
